[Unit]
Description=Wifi Connect
Wants=network-online.target
After=network-online.target
ConditionPathExists=!~/.screenly/initialized

[Service]
WorkingDirectory=~/screenly
User=username_on_the_host
Type=oneshot

ExecStart=/usr/bin/python ~/screenly/start_resin_wifi.py
ExecStartPost=/usr/bin/touch ~/.screenly/initialized

[Install]
WantedBy=multi-user.target
